<h2>Details of <%= character.name %></h2>

<h3>Occupation: <%= character.occupation %></h3>

<p>Weapon: <%= character.weapon %></p>
<p>Debt: <%= character.debt %></p>
<a href="/characters/<%=character.id %>/edit">Update</a>
<form method="POST" action="/characters/<%=character.id %>/delete">
  <br />
  <button type="submit">Delete</button>
</form>
